/* * {
   top: 0;
   margin: 0;
   padding: 0;
   /* position: relative; */
   /* box-sizing: border-box;
   
/* } */ 

/* body{
   position: relative;
} */

header{
   background-color: #333;
   text-align: center;
   height: 50px;
   width: 100%;
   position: relative;
   display:flex;
   flex-direction:row;
   align-items: center;
   top: 0;
   justify-content:space-around;
   z-index: 100;
}

header button {
   position:absolute;
   right:20px;
   background-color: blue;

}

header h1{
   color: white;
   font-size: 20px;
   padding-top: 15px;




}



body{
   height: 1600px;
   position:relative;
   padding: 0;

}

main {
   margin-top: 70px;
   width: 100%;
   min-height: 100vh;
   display: flex;
   flex-direction: row;
   /* row-gap: 20px; */
   justify-content: space-around;
   list-style: none;
}
 .card {
   border-radius: 30px !important;
   
}

.card img{
   border-top-left-radius: 30px;
   border-top-right-radius: 30px;
}

audio{
   width: 100%;
}

/* .music-list {
   list-style: none;
   margin: 0 auto;
   margin-top: 20px;
   display: flex;
   flex-wrap: wrap;
   gap: 20px;
   justify-content: center;
} */

/* .music-tile {
   margin-bottom: 20px;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
   padding: 10px;
   display: flex;
   flex-direction: column;
   align-items: center;
   width: 300px;
}

.music-tile img {
   
   width: 100%;
   height: auto;
   object-fit: cover;
   border-radius: 3px;
} */

/* .card{
   width: 300px;
   border-radius: 3px;
   overflow: hidden;
   padding: 15px;
   display: flex;
   flex-direction: column;
   margin-bottom: 20px;
} */

/* .card img{
   width: 100%;
   height: auto;
   object-fit: cover;
   border-radius: 3px;
} */

/* .card audio{
   width: 100%;
   margin-top: 10px;
}

.card body{
   padding: 15px;
} */

.footer {
   width: 100%;
   height: 50px;
   background-color: #333;
   position: absolute;
   bottom: 0px;
   padding-top: 12px;   
}

.footer p {
   font-size: 18px;
   font-family: sans-serif;
   font-weight: bold;
   color: #fff;
   text-align: center;
  /* padding: 12px; */
   /* li ne-height: 50px; */
   margin: 0;
}
